@use '../mixins/responsive.scss' as *;
.title{
    margin: 0;
    color: var(--color-title);
    font-weight: 700;
    &--xl{
        font-size: 2.5rem;
        line-height: 40px;
        letter-spacing: -1.14px;
        @include responsive (tablet){
            font-size: 4.5rem;
            line-height: 72px;
            letter-spacing: -2.05px;
        }
        @include responsive (laptop){
            font-size: 5.5rem;
            line-height: 88px;
            letter-spacing: -2.5px;
        }
    }

    &--l{
        font-size: 2rem;
        line-height: 40px;
        letter-spacing: -1px;
        @include responsive (tablet){
            font-size: 3rem;
            line-height: 56px;
            letter-spacing: -1.5px;
        }
    }

    &--m{
        font-size: 1.5rem;
        line-height: 32px;
    }

    &--line{
        position: relative;
        border-bottom: 4px solid var(--color-green);
    }

    &--header{
        margin-bottom: 24px;
        @include responsive (tablet){
            margin-bottom: 60px;
        }
        @include responsive (laptop){
            margin-bottom: 43px;
        }
    }
    &--footer{
        margin-bottom: 20px;
        @include responsive (laptop){
            margin-bottom: 36px;
        }
    }
}
